$color_1: white;
$color_2: #212529;
$color_3: #6c757d;
$font-family_1: sans-serif;
$font-family_2: "Playfair Display", Georgia, "Times New Roman", serif;
$font-family_3: var(--bs-font-sans-serif);
$font-family_4: 'Times New Roman', Times, serif;
$background-color_1: #fff;
$background-color_2: #212529;
$background-color_3: white;

body {
	margin: auto;
	font-size: 1rem;
	font-family: $font-family_1;
	font-weight: 400;
	background-color: $background-color_1;
	box-sizing: border-box;
	text-size-adjust: 100%;
	scrollbar-highlight-color: transparent;
	line-height: 1.5;
	margin-top: 0%;
	padding-left: 0px;
	padding-right: 0px;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
	overflow-x: hidden;
}
.container {
	width: 85%;
	margin: auto;
	width: 85%;
	margin: auto;
}
.banner {
	background-color: $background-color_2;
	color: $color_1;
	text-align: start;
	border-radius: 7px;
	width: 100%;
	margin: auto;
}
.banner__content {
	width: 50%;
	padding: 20px;
	margin: 20px 0;
}
.banner__title {
	font-family: $font-family_2;
	font-size: 50px;
	font-weight: bold;
	font-style: italic;
	line-height: 60px;
}
.banner__paragraph {
	font-family: $font-family_3;
	font-style: normal;
	font-size: 17px;
	font-weight: normal;
}
p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}
.banner__continue {
	font-weight: bold;
	color: $color_1;
	text-decoration: underline;
}
.blog__heading {
	text-decoration: underline;
	text-align: center;
	font-family: $font-family_4;
	color: $color_2;
	font-size: 2.25rem;
}
.link {
	color: $color_3;
	box-sizing: border-box;
	cursor: pointer;
	text-decoration: underline;
}
.blog__searchsignup {
	display: flex;
	flex-direction: row;
}
.link1 {
	padding-right: 20px;
	color: $color_3;
}
.blog__signup {
	border-radius: 0.3rem;
	padding: 7px;
	font-size: .896rem;
	color: $color_3;
	background-color: $background-color_3;
	border-width: 0.1rem;
	padding-right: 10px;
}
.nav__navigation {
	display: flex;
	justify-content: space-between;
}
.head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.cards {  font-size: 1rem;
font-family: sans-serif;
font-weight: 400;
text-size-adjust: 100%;
line-height: 1.5;
display: flex;
justify-content: space-between;
}
.cardthumbnail{
	font-size: 1rem;
    font-weight: 400;
    text-size-adjust: 100%;
    line-height: 1.5;
    box-shadow: 0 5px 5px 0 grey;
    width: 100%;
    margin: auto;
    margin-right: 10px;
    text-align: start;
    font-family: arial;
    border-radius: 10px;
    display: flex;
    border-color: grey;
}

.card {
    width: 100%;
    padding: 20px;
}
.card__head1 {
    color: #0d6efd;
}
.card__title {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-style: initial;
    font-size: 20px;
    line-height: 1px;
}
.card__date {
    color: #6c757d;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.thumbnail {
    background-color: #6c757d;
    width: 55%;
    padding: 50px;
    text-align: center;
    border-radius: 0px 10px 10px 0;
}
.card__head2 {
    color: #198754;
}
.body {
    display: flex;
}
.bodyhead1{
    font-style: italic;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 550;
    margin-top: 1.2;
    line-height: 1;
    font-size: 28px;
}
.post__head {
    margin-bottom: 2.5px;
    font-size: 33px;
    font-weight: bolder;
}
.post__date {
    margin-bottom: 1.25rem;
    color: #727272;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.post__head2 {
    font-size: 26px;
    font-weight: bolder;
    line-height: 30px;
}
.post__blockquote {
    font-size: 20px;
    font-weight: 100;
}
.post__table {
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: #dee2e6;
    caption-side: bottom;
    color: #212529;
    width: 100%;
    margin-bottom: 1px;
    vertical-align: top;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.navbutton__old {
    background-color: #dee2e6;
    padding: 10px 20px;
    border-radius: 2rem;
    border-color: #0d6efd;
    border-width: 1px;
    color: #0d6efd;
}
.navbutton__nevr {
    background-color: white;
    padding: 10px 20px;
    border-radius: 2rem;
    border-color: #6c757d;
    color: #6c757d;
    border-width: 1px;
}
.details {
    padding-right: 0px;
    padding-left: 50px;
    margin-top: 50px;
}
.about {
    border-radius: 0.25rem;
    background-color: #f8f9fa;
    padding: 1.5rem;
    margin-bottom: 1rem;
    padding-right: 80px;
    background-size: 100px;
}
.about__head {
    font-style: italic;
    font-size: 23px;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 900;
    line-height: 1.2;
}
.archieve__list {
    list-style: none;
    line-height: 25px;
    text-align: start;
    padding-left: 0px;
}
.blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 0.05rem solid #e5e5e5;
}
