body {
  margin: auto;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 400;
  background-color: #fff;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  scrollbar-highlight-color: transparent;
  line-height: 1.5;
  margin-top: 0%;
  padding-left: 0px;
  padding-right: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  overflow-x: hidden;
}

.container {
  width: 85%;
  margin: auto;
  width: 85%;
  margin: auto;
}

.banner {
  background-color: #212529;
  color: white;
  text-align: start;
  border-radius: 7px;
  width: 100%;
  margin: auto;
}

.banner__content {
  width: 50%;
  padding: 20px;
  margin: 20px 0;
}

.banner__title {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  line-height: 60px;
}

.banner__paragraph {
  font-family: var(--bs-font-sans-serif);
  font-style: normal;
  font-size: 17px;
  font-weight: normal;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.banner__continue {
  font-weight: bold;
  color: white;
  text-decoration: underline;
}

.blog__heading {
  text-decoration: underline;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: #212529;
  font-size: 2.25rem;
}

.link {
  color: #6c757d;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: underline;
}

.blog__searchsignup {
  display: flex;
  flex-direction: row;
}

.link1 {
  padding-right: 20px;
  color: #6c757d;
}

.blog__signup {
  border-radius: 0.3rem;
  padding: 7px;
  font-size: 0.896rem;
  color: #6c757d;
  background-color: white;
  border-width: 0.1rem;
  padding-right: 10px;
}

.nav__navigation {
  display: flex;
  justify-content: space-between;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.cards {
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
}

.cardthumbnail {
  font-size: 1rem;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  line-height: 1.5;
  box-shadow: 0 5px 5px 0 grey;
  width: 100%;
  margin: auto;
  margin-right: 10px;
  text-align: start;
  font-family: arial;
  border-radius: 10px;
  display: flex;
  border-color: grey;
}

.card {
  width: 100%;
  padding: 20px;
}

.card__head1 {
  color: #0d6efd;
}

.card__title {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-style: initial;
  font-size: 20px;
  line-height: 1px;
}

.card__date {
  color: #6c757d;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.thumbnail {
  background-color: #6c757d;
  width: 55%;
  padding: 50px;
  text-align: center;
  border-radius: 0px 10px 10px 0;
}

.card__head2 {
  color: #198754;
}

.body {
  display: flex;
}

.bodyhead1 {
  font-style: italic;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 550;
  margin-top: 1.2;
  line-height: 1;
  font-size: 28px;
}

.post__head {
  margin-bottom: 2.5px;
  font-size: 33px;
  font-weight: bolder;
}

.post__date {
  margin-bottom: 1.25rem;
  color: #727272;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.post__head2 {
  font-size: 26px;
  font-weight: bolder;
  line-height: 30px;
}

.post__blockquote {
  font-size: 20px;
  font-weight: 100;
}/*# sourceMappingURL=style.css.map */