$myFont: Helvetica, sans-serif;
$myColor: red;
$myFontSize: 38px;
$myWidth: 680px;



p{
    $myColor: green !global;
    color: $myColor;
}
body {
    font-family: $myFont;
    font-size: $myFontSize;
    
    color: $myColor;
  }
h3{
    
    color: $myColor;
  }

#container {
  width: $myWidth;
}

nav {    
    ul {    
      margin: 0;    
      padding: 0;    
      list-style: none; 
      color: aqua;   
    }    
    li { display: inline-block; }    
    a {    
      display: block;    
      padding: 6px 12px;    
      text-decoration: none;    
    }    
  }    